<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <title>Scrappin' the internet</title>

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Scrappin' the News</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ur class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/saved">Saved Scrapes!</a></li>
                    <li><button type="button" class="btn btn-primary" id="scrape">Scrape this Article</button></li>
                </ur>
            </div>
        </div>
    </nav>
    {{{body}}}

    <script src="/scrapingInternet/app.js"></script>
</body>

</html>